src/Magic8BallApp/Service References/Magic8BallService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Shake">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="question" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShakeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShakeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>